# Loading General modules and Methods

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
from time import sleep

import os

## Variable for Using colab online or jupyter offline

 Als je online werkt, ga naar de volgende cel en authentiseer jezelf met de instructies in de volgende cel.

Deze code kan ook worden gedownload als ipynb of py bestand. Zet variabele 'useOffline' op True wanneer je via een offline notebook werkt. Ook moet er een map gecreerd worden met alle csv's daar in. Als voorbeeld, neem de map rawDataKnab in de drive en download deze naar een offline locatie !!!(EXTRA BESTANDEN IN DEZE MAP). Link dan bij de sectie 'import data while offline' naar deze map op je computer door de variabele 'locationProjectFolder' aan te passen.

In [7]:
useOffline = False

## Importing Data

### Import data while online

De volgende stap is om je eigen drive te koppelen aan dit bestand. Run de volgende cell en laat je authentiseren.

In [8]:
if useOffline == False:
  from google.colab import auth
  auth.authenticate_user()
  from googleapiclient.discovery import build
  drive_service = build('drive', 'v3')

In [9]:
if useOffline == False:
  import io
  from googleapiclient.http import MediaIoBaseDownload
  def importFile(file_id,itemName):
    tryLimit = 1000
    tries = 1
    while tries < tryLimit:
      try:
        request = drive_service.files().get_media(fileId=file_id)
        downloaded = io.BytesIO()
        downloader = MediaIoBaseDownload(downloaded, request)
        done = False
        while done is False:
          # _ is a placeholder for a progress object that we ignore.
          _, done = downloader.next_chunk()
        downloaded.seek(0)
        if itemName.find(".csv") != -1:
          return pd.read_csv(downloaded)
        elif itemName.find(".xlsx") or itemName.find(".xls") != -1:
          return pd.read_excel(downloaded)
        else:
          continue
      except:
        tries += 1
        sleep(0.5)

In [10]:
if useOffline == False:
  folder_id = "1IZ2XVCl45a_yPdLGel3cD2AaLie3XCjH"
  response = drive_service.files().list(q="parents in '{}'".format(folder_id)).execute()  
  response["files"].reverse()

  for item in response["files"]:
    itemID = item["id"]
    itemName = item["name"]

    itemName2 = itemName.replace(".csv","")
    itemName2 = itemName2.replace(".xlsx","")
    itemName2 = itemName2.replace(".xls","")
    
    exec("%sData = importFile(itemID,itemName)" % (itemName2))
    print(itemName2 + "Data created") 

  print("\n Importing Files Completed")

corporate_detailsData created
experianData created
portfolio_activity_business_2018Data created
portfolio_activity_business_2019Data created
portfolio_activity_business_2020Data created
portfolio_activity_retail_2018Data created
portfolio_activity_retail_2019Data created
portfolio_activity_retail_2020Data created
portfolio_activity_transactions_business_2018Data created
portfolio_activity_transactions_business_2019Data created
portfolio_activity_transactions_business_2020Data created
portfolio_boekhoudkoppelingData created
portfolio_infoData created
portfolio_statusData created
portfolio_activity_transactions_retail_2018Data created
experian_codesData created
portfolio_activity_transactions_retail_2019Data created
portfolio_activity_transactions_retail_2020Data created
linkpersonportfolioData created
SBI_2019Data created

 Importing Files Completed

### Import data while offline

In [11]:
if useOffline == True:
  #Can import the contents of this cell when working offline in a particular file. Remember to upload the code you created into the workbook!
  locationProjectFolder = "C:/Users/Ivan Kalinichenka/.AA_Programming/Projects/AA_KnabCase"
  locationDataFolder = "rawDataKnab"
  def changeToData():
    global locationDataFolder
    os.chdir(locationDataFolder)

  def changeToProject():
    global locationProjectFolder
    os.chdir(locationProjectFolder)

In [12]:
if useOffline == True:
  try:
    os.chdir(locationProjectFolder)
  except:
    pass
  try:
    os.chdir(locationDataFolder)
  except:
    pass
  fileList = (os.listdir())
  for item in fileList:
    try:
      itemName = item
      imported = readData(itemName)
      itemName = itemName.replace(".csv", "")
      itemName = itemName.replace(".xlsx", "")
      itemName = itemName.replace(".xls", "")
      exec("%sData = imported" % (itemName))
      print(itemName + "Data created")
    except:
      text = "An error occured while printing {}".format(item)
      print(text)

  print("\n Importing Files Completed")

  ## Go back to project Folder
  os.chdir("..")

## General Methods

methods for quick analysis and returning of tables or graphs

In [13]:
def printList(listToPrint):
  for item in listToPrint:
    print(item)

def printUnique(data,nameList):
  for item in nameList:
    text = "Aantal unieke waarden in kolom {} : {}".format(item, str(len(data[item].unique() ) ) )
    print(text)

def mostCommon(data,columnName,numberOfValues = 1,descriptive = False,returnTable = False):
  '''
  Returns the most common values that can be found 
  data | should be a pandas Dataframe
  nameList | should be a list of columnnames found in data
  numberOfValues | is the number of values to show. If larger than number of available values, retrn smaller table
  descriptive | Standard False, True to return descriptive statistics on values found)
  returnTable | Standard False, True to return a table as result
  '''
  table = data[columnName].value_counts().sort_values(ascending=False)
  tableSum = table.sum()
  table = table.to_frame("Frequency")
  table.loc["Total","Frequency"] = tableSum
  table["Percentage"] = np.nan
  table["Percentage"] = round(table/tableSum,2)
  print("\n Frequency Table for {}".format(columnName) )
  if table.shape[0] < (numberOfValues):
    print(table)
  else:
    # printTable = table.loc[:numberOfValues,:]
    # printTable.iloc["Total",:] = table.loc["Total",:]
    # print(table.loc[:numberOfValues,:])
    print(table.iloc[0:numberOfValues,:])
  print("\n")
  if descriptive == True:
    print(table.describe())
    print("\n")
  if returnTable == True:
    return table
  
#Integrate with prev definition
def mostCommonDict(data, nameList, numberOfValues = 1):
  dictOfTables = {}
  for columnName in nameList:
    dictOfTables[columnName] = mostCommon(data, columnName, numberOfValues, False, True)

def dataDimension(data):
  dimensions = data.shape
  text = "This dataset has {} rows and {} columns".format(dimensions[0], dimensions[1])
  print(text)

def numberOfNaN(data,nameList):
  for item in nameList:
    text = "number of NaN in column {} is {}".format(item, corporate_detailsData[item].isna().sum() ) 
    print(text)

def printAll(data):
  with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(data)

def cleanTemp(nList,nData,nString,nDict):
  pass

# Corporate_details

Table with some general information about the companies of Knab business customers


| Column name  | Description                                                                                                                                                                                 |
|--------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| personid     | Identifier for the company (note: although the name suggests otherwise this identifier is not the natural person(s) behind the business, but really an identifier for the business itself). |
| birthday     | Timestamp for the date of establishment of the business (note: this date is not the birthday (age) of the natural person(s) behind the business, but the age of the company).               |
| subtype      | Legal entity form of the company.                                                                                                                                                           |
| code         | SBI code of the company indicating the specific sector in which the company is active.                                                                                                      |
| name         | The label that describes the SBI code.

In [14]:
corporate_detailsData.loc[[76,86220,274340], :]

                                        personid  ...                               name
76      3809801d258509dc0f9b2fc0088e9ec49fa24d82  ...  70221 - Organisatie-adviesbureaus
86220   1b001e164d8460a9410ea33a6c2027dcc336dbea  ...          7810 - Arbeidsbemiddeling
274340  89c11b111833ac22a573d1cde1592dc9b23b1116  ...                                NaN

[3 rows x 5 columns]

In [15]:
nameList = ["personid","subtype","name"]
nameList2 = ["personid","birthday","subtype","code","name"]

In [16]:
print(corporate_detailsData.dtypes)
dataDimension(corporate_detailsData)
printUnique(corporate_detailsData, nameList)

numberOfNaN(corporate_detailsData,nameList2)

personid     object
birthday     object
subtype      object
code        float64
name         object
dtype: object
This dataset has 280085 rows and 5 columns
Aantal unieke waarden in kolom personid : 280085
Aantal unieke waarden in kolom subtype : 10
Aantal unieke waarden in kolom name : 867
number of NaN in column personid is 0
number of NaN in column birthday is 17669
number of NaN in column subtype is 14579
number of NaN in column code is 18186
number of NaN in column name is 18186

In [17]:
mostCommonDict(corporate_detailsData,nameList,10)

 Frequency Table for personid
                                          Frequency  Percentage
010271655aa8e8f7da4e01db7f9fb190ef85de85        1.0         0.0
4ca7b7292264c27be62e723fa68c35054247a582        1.0         0.0
502c7d1c09e4e7cf9c0fe10e43c72b5c6ebec13c        1.0         0.0
f3225283c491068bc8705a7f5eabc616e9fd3393        1.0         0.0
7ef758b6aa53bf7e36b6e106306ef67a8f965395        1.0         0.0
ab93fa39a6d12280f861c2c3d82f990c352dd9af        1.0         0.0
1ba3133c9f71a43e144f8c34864aa6bcc1a72eec        1.0         0.0
3d0ddbbe796a8844afd3871ce5bdd8a899f20f16        1.0         0.0
5f3221f07de09ab5ab4175a14530d27614435216        1.0         0.0
ff7338f371e3e6ec473551c19793215d2e6d7c85        1.0         0.0



 Frequency Table for subtype
                             Frequency  Percentage
Eenmanszaak                   188007.0        0.71
Besloten Vennootschap          58018.0        0.22
Vennootschap onder firma       15856.0        0.06
Besloten vennootschap           1457.0        0.01
Maatschap                       1211.0        0.00
Stichting                        927.0        0.00
Besloten vennootschap i.o.        28.0        0.00
Vereniging                         1.0        0.00
Naamloze vennootschap              1.0        0.00
Total                         265506.0        1.00



 Frequency Table for name
                                                    Frequency  Percentage
6420 - *Financiële holdings                           22097.0        0.08
70221 - Organisatie-adviesbureaus                     17826.0        0.07
6201 - Ontwikkelen, produceren en uitgeven van ...     8010.0        0.03
4120 - * Algemene burgerlijke en utiliteitsbouw        6883.0        0.03
86919 - Overige paramedische praktijken (geen f...     6408.0        0.02
70222 - Advisering op het gebied van management...     5938.0        0.02
6202 - Advisering op het gebied van informatiet...     5815.0        0.02
47914 - Detailhandel via internet in kleding en...     5254.0        0.02
85599 - Studiebegeleiding, vorming en onderwijs...     4935.0        0.02
47918 - Detailhandel via internet in overige no...     4907.0        0.02

Conclusie: personId in deze dataset is uniek
Voorstel: voor deze dataset iig de NaN niet gebruiken mits we weten dat dit random genoeg gebeurt.

In [18]:
#Copy DataFrame for editing and drop code column and rows with NaN value
corporate_detailsDataEdited = corporate_detailsData.copy()
corporate_detailsDataEdited.dropna(inplace = True)

#rename column personid to companyID,name to companySector and 
tempDict = {"personid":"businessID","subtype":"businessType","name": "businessSector"}
corporate_detailsDataEdited.rename(columns = tempDict, inplace= True)

#show dimensions
dataDimension(corporate_detailsDataEdited)
corporate_detailsDataEdited.sample()

This dataset has 261560 rows and 5 columns

                                    businessID  ...         businessSector
9226  0428c4c9e3f031ce74c8f08220cf35b2ef68402a  ...  9103 - Monumentenzorg

[1 rows x 5 columns]

### Converting Birthday to foundingDate and creating  companyAgeInDays and foundingYear

In [19]:
mostCommon(corporate_detailsDataEdited,["birthday"],10)
#use shorter var to refer to new columns
aid = "companyAgeInDays"
foundingDateString = "foundingDate"

#convert to datetime and to age in days of company
corporate_detailsDataEdited[foundingDateString] = pd.to_datetime(corporate_detailsDataEdited["birthday"])
currentTime = datetime(2021,1,1)
corporate_detailsDataEdited[aid] = (currentTime - corporate_detailsDataEdited[foundingDateString])
corporate_detailsDataEdited[aid] = corporate_detailsDataEdited[aid].dt.days

#note founding year of company
corporate_detailsDataEdited["foundingYear"] = corporate_detailsDataEdited[foundingDateString].dt.year

#assumption that a company date beyond the end of 2020 is faulty
corporate_detailsDataEdited = corporate_detailsDataEdited[corporate_detailsDataEdited[aid] > 0]
print(corporate_detailsDataEdited["birthday"].describe())

#drop columns and 
corporate_detailsDataEdited.drop(["birthday"], axis = 1, inplace=True)
dataDimension(corporate_detailsDataEdited)
mostCommon(corporate_detailsDataEdited,[aid],10)
print(corporate_detailsDataEdited[aid].describe())
corporate_detailsDataEdited.sample(5)

 Frequency Table for ['birthday']
                            Frequency  Percentage
birthday
2019-01-01 00:00:00.000000     3573.0        0.01
2020-01-01 00:00:00.000000     3392.0        0.01
2018-01-01 00:00:00.000000     2893.0        0.01
2019-04-01 00:00:00.000000     1933.0        0.01
2017-01-01 00:00:00.000000     1866.0        0.01
2020-07-01 00:00:00.000000     1762.0        0.01
2018-10-01 00:00:00.000000     1751.0        0.01
2019-10-01 00:00:00.000000     1698.0        0.01
2020-10-01 00:00:00.000000     1647.0        0.01
2019-07-01 00:00:00.000000     1521.0        0.01


count                         261557
unique                         14390
top       2019-01-01 00:00:00.000000
freq                            3573
Name: birthday, dtype: object
This dataset has 261557 rows and 7 columns

 Frequency Table for ['companyAgeInDays']
                  Frequency  Percentage
companyAgeInDays
731                  3573.0        0.01
366                  3392.0        0.01
1096                 2893.0        0.01
641                  1933.0        0.01
1461                 1866.0        0.01
184                  1762.0        0.01
823                  1751.0        0.01
458                  1698.0        0.01
92                   1647.0        0.01
550                  1521.0        0.01


count    261557.000000
mean       2173.586155
std        2858.519543
min           2.000000
25%         669.000000
50%        1317.000000
75%        2544.000000
max       44195.000000
Name: companyAgeInDays, dtype: float64

                                      businessID  ... foundingYear
37641   53b50564e1d1d2d8a69a47b9ad8ab79cbcde9592  ...         2008
213716  461575ebe2eb821425348de70e5de2a54a044217  ...         2017
12389   39e3ad9854f25ecc28a7b301db6ab8d0dfcd95e6  ...         2012
158068  f051684a88b21e30249283376803e1a082b9c45b  ...         2018
182529  753bcd9a425313177c673a82cbc6f5630092e2cc  ...         2019

[5 rows x 7 columns]

In [20]:
mostCommonDict(corporate_detailsDataEdited, ["businessType","foundingYear"],10)
corporate_detailsDataEdited[aid].describe()

 Frequency Table for businessType
                             Frequency  Percentage
Eenmanszaak                   186410.0        0.71
Besloten Vennootschap          56340.0        0.22
Vennootschap onder firma       15523.0        0.06
Besloten vennootschap           1441.0        0.01
Maatschap                       1046.0        0.00
Stichting                        775.0        0.00
Besloten vennootschap i.o.        20.0        0.00
Vereniging                         1.0        0.00
Naamloze vennootschap              1.0        0.00
Total                         261557.0        1.00



 Frequency Table for foundingYear
      Frequency  Percentage
2019    41735.0        0.16
2018    37784.0        0.14
2020    35145.0        0.13
2017    27901.0        0.11
2016    22657.0        0.09
2015    18819.0        0.07
2014    13245.0        0.05
2013     8896.0        0.03
2012     6594.0        0.03
2011     5947.0        0.02

count    261557.000000
mean       2173.586155
std        2858.519543
min           2.000000
25%         669.000000
50%        1317.000000
75%        2544.000000
max       44195.000000
Name: companyAgeInDays, dtype: float64

In [21]:
corporate_detailsDataEdited.sample(10)

                                      businessID  ... foundingYear
225870  dbb95aa670656b56a28c3811a00752eb634402f6  ...         2019
249198  a39b15a52122f42b286ebb1924044f0019a25fb3  ...         2017
972     7c84cba4f6b2f97b82dc3ed26c3d421635df1beb  ...         1997
213324  c9cd313785d1b6b661ac9b29b56705ae0a9c6b49  ...         2014
72452   315705c9885e9ca92b7ab4190332f3a877582ed1  ...         2017
178883  a14c4046ad7e45745d7b6c3da06a65613206b768  ...         2013
135113  7db0a6bd4e4dea275d19ad676e2cd1d00151ca45  ...         2018
265358  44a989beb04b7cb0121071063343f0faf9ca646b  ...         2017
117762  35c62b14565d47dd79fea6d8928e2a0be16eb8a6  ...         2010
78438   48ab0192f7c0fabbd92649e1c9d0e12370235c2d  ...         2019

[10 rows x 7 columns]

In [22]:
a = corporate_detailsDataEdited.index[:10].to_list()
a.append(220682)
corporate_detailsDataEdited[corporate_detailsDataEdited.index.isin(a)]

                                      businessID  ... foundingYear
0       c57872e5ed24716e4c627c4a9a186d65685bc178  ...         2016
1       9fa51e65800385919dedfc6e0805c986fab48681  ...         2020
2       15e0dc442f58071f9f0936a08c6dc0e5dd5ca719  ...         2018
3       a1ea5e8ccf72b7e61af6f0cbb5af222d5cea1358  ...         2020
4       718f3fe97546eada34df6389366f39ca74039c8e  ...         2010
5       5c58e7e03be24b18687ce13ef6cbe3ce72ea0492  ...         2011
6       c24fc4a812f2f935da72e262eb29883e7428fee3  ...         2004
7       5ab316035e6a48cac7d1547239c1a6dd3c1ad5eb  ...         2016
8       cc6e5bebe8a7b287180508be2fa14fd7102933c3  ...         2015
9       0e4112ccc33087832cc1662c022000f1c0a8faf0  ...         2014
220682  7f5eb8a7b25bc3bb839f4987feadc52f569d6c68  ...         2018

[11 rows x 7 columns]

## Convert code to SBI name

### Create list of SBI codes

In [23]:
SBI_2019DataEdited = SBI_2019Data.copy()
tempString = "SBIcode"
SBI_2019DataEdited.rename(columns={"Unnamed: 0": tempString}, inplace = True)
SBI_2019DataEdited.dropna(inplace = True)
# SBI_2019DataEdited[tempString] = SBI_2019DataEdited[tempString].astype(dtype = int,errors = "ignore")
SBI_2019DataEdited[tempString] = pd.to_numeric(SBI_2019DataEdited[tempString], errors='coerce')
SBI_2019DataEdited.dropna(inplace = True)
tempIndex = SBI_2019DataEdited[tempString].mod(1) == 0
SBI_2019DataEdited = SBI_2019DataEdited.loc[ tempIndex,:]
SBI_2019DataEdited.sample(10)

      SBIcode     Standaard Bedrijfsindeling 2008 - update 2019
133      10.0                 Vervaardiging van voedingsmiddelen
609      32.0                 Vervaardiging van overige goederen
1220     58.0                                       Uitgeverijen
636      33.0  Reparatie en installatie van machines en appar...
598      31.0                          Vervaardiging van meubels
122       9.0   Dienstverlening voor de winning van delfstoffen
1234     59.0  Productie en distributie van films en televisi...
1739     90.0                                              Kunst
689      37.0               Afvalwaterinzameling en -behandeling
1850     95.0    Reparatie van computers en consumentenartikelen

In [24]:
tempString = "code"
corporate_detailsDataEdited[tempString] == 0

0         False
1         False
2         False
3         False
4         False
          ...
279672    False
279673    False
279674    False
279675    False
279676    False
Name: code, Length: 261557, dtype: bool

In [25]:
tempString = "businessSectorShort"
corporate_detailsDataEdited[tempString] =  corporate_detailsDataEdited["businessSector"].str[:2]
corporate_detailsDataEdited[tempString] = corporate_detailsDataEdited[tempString].astype(int)
corporate_detailsDataEdited.sample(5)

                                      businessID  ... businessSectorShort
220711  7d59db75d22bc23126e306a00c3b152ae60a3ca8  ...                  70
17563   b88203de77e4d86863a542fcab7cfbcf329f76c6  ...                  59
179906  3a50184e3c6dc76e21e5c8dcd9b2267b163d8204  ...                  86
263341  a374e8dc84a30f4693a152b650b3e0f810bac752  ...                  62
187253  59001b12ce0938c7e442d22afa975a4798b5cf2d  ...                  69

[5 rows x 8 columns]

In [26]:
#Connect the hort code to the value in SBI code

# ExperianData

Address based Experian data(1). Experian gathers consumer data and builds credit scoreboards

| Column name           | Description                                                                       |
|-----------------------|-----------------------------------------------------------------------------------|
| valid_from_dateeow    | Date end of week (Sunday) of the first week from which the record is valid.       |
| valid_to_dateeow      | Date end of week (Sunday) of the last week for which the record is valid.         |
| personid              | Identifier for the knab client (natural person).                                  |
| age_hh                | Categorical variable for the age of the eldest person of the household.           |
| hh_child              | Categorical variable for the number of children in the household.                 |
| hh_size               | Categorical variable for the household size.                                      |
| income                | Categorical variable for the level of gross household income.                     |
| educat4               | Categorical variable for the level of education.                                  |
| housetype             | Categorical variable for the type of house.                                       |
| finergy_tp            | Categorical variable for the finergy subsegment.                                  |
| lfase                 | Categorical variable for the phase in life.                                       |
| business              | Categorical variable for business registrations on the address (type of address). |
| huidigewaarde_klasse  | Categorical variable for the current value of the house.                          |

`1) Experian gathers information based on addresses, not persons. We already matched the address-based Experian data to our client base, based on a matching key address`

In [27]:
nameList = ["personid","age_hh","hh_child","hh_size","income","educat4","housetype","finergy_tp","lfase","business","huidigewaarde_klasse"]
dataDimension(experianData)

experianData.loc[[141987,597495,388160,238544,202860, 647039],:]

This dataset has 651054 rows and 13 columns

       valid_from_dateeow valid_to_dateeow  ... business  huidigewaarde_klasse
141987         2017-08-20              NaN  ...      2.0                   8.0
597495         2019-04-07              NaN  ...      NaN                   NaN
388160         2017-05-14              NaN  ...      6.0                   0.0
238544         2016-05-22       2017-08-13  ...      1.0                   1.0
202860         2019-07-14       2020-06-21  ...      1.0                   3.0
647039         2019-11-17       2019-11-17  ...      NaN                   NaN

[6 rows x 13 columns]

In [28]:
printUnique(experianData, nameList)

Aantal unieke waarden in kolom personid : 565204
Aantal unieke waarden in kolom age_hh : 14
Aantal unieke waarden in kolom hh_child : 5
Aantal unieke waarden in kolom hh_size : 7
Aantal unieke waarden in kolom income : 6
Aantal unieke waarden in kolom educat4 : 5
Aantal unieke waarden in kolom housetype : 6
Aantal unieke waarden in kolom finergy_tp : 32
Aantal unieke waarden in kolom lfase : 9
Aantal unieke waarden in kolom business : 8
Aantal unieke waarden in kolom huidigewaarde_klasse : 12

In [29]:
mostCommon(experian_codesData,["veldnaam"],20)

 Frequency Table for ['veldnaam']
                      Frequency  Percentage
veldnaam
Finergy Subsegment         31.0        0.34
Age_HH                     13.0        0.14
Huidigewaarde_klasse       10.0        0.11
Lfase                       8.0        0.09
Business                    7.0        0.08
HH_size                     5.0        0.05
Housetype                   5.0        0.05
Income                      5.0        0.05
Educat                      4.0        0.04
HH_child                    4.0        0.04
Total                      92.0        1.00

Eerste test: Zijn er evenveel unieke waarden als aantal uitgelegde labels in experian_codesData + 1 (Voor NaN)?

hh_size, huidigewaarde_klasse lijkt er 2 meer te hebben. Uitzoeken welke anders zijn.

In [30]:
mostCommonDict(experianData,["hh_size","huidigewaarde_klasse"],10)

 Frequency Table for hh_size
       Frequency  Percentage
10.0    156322.0        0.28
11.0    139109.0        0.25
4.0     105382.0        0.19
3.0      96668.0        0.17
5.0      37933.0        0.07
2.0      29252.0        0.05
Total   564666.0        1.00



 Frequency Table for huidigewaarde_klasse
      Frequency  Percentage
4.0     96629.0        0.17
3.0     89898.0        0.15
5.0     84299.0        0.14
6.0     57166.0        0.10
2.0     54211.0        0.09
8.0     52477.0        0.09
9.0     49260.0        0.08
7.0     42453.0        0.07
1.0     19535.0        0.03
10.0    18738.0        0.03

In [31]:
mostCommon(experianData, ["hh_size"],20, True)

 Frequency Table for ['hh_size']
         Frequency  Percentage
hh_size
10.0      156322.0        0.28
11.0      139109.0        0.25
4.0       105382.0        0.19
3.0        96668.0        0.17
5.0        37933.0        0.07
2.0        29252.0        0.05
Total     564666.0        1.00


           Frequency  Percentage
count       7.000000    7.000000
mean   161333.142857    0.287143
std    184020.629447    0.325613
min     29252.000000    0.050000
25%     67300.500000    0.120000
50%    105382.000000    0.190000
75%    147715.500000    0.265000
max    564666.000000    1.000000

In [32]:
experian_codesData.sort_values(by = ["veldnaam","code"], inplace = True)

prevVeld = "0"
for index,value in experian_codesData.iterrows():
  if value["veldnaam"] is not prevVeld:
    text1 = "\n| {}: {}".format(value["veldnaam"], value["variabele"])
    print(text1, end = "")
  text2 = "| {} : {} |".format(value["code"],value["omschrijving"])
  print(text2, end = "")
  prevVeld = value["veldnaam"]

| Age_HH: Leeftijd hoofd huishouden| 1 : Jonger dan 25 jaar || 10 : 65 tot 70 jaar || 11 : 70 tot 75 jaar || 12 : 75 tot 80 jaar || 13 : 80 jaar of ouder || 2 : 25 tot 30 jaar || 3 : 30 tot 35 jaar || 4 : 35 tot 40 jaar || 5 : 40 tot 45 jaar || 6 : 45 tot 50 jaar || 7 : 50 tot 55 jaar || 8 : 55 tot 60 jaar || 9 : 60 tot 65 jaar |
| Business: Bedrijfsregistraties / Type adres| 1 : Particulier || 2 : Bedrijf aan huis || 3 : Winkelfunctie || 4 : Logiesfunctie || 5 : Kantoorfunctie || 6 : Industriefunctie || 7 : Overige gebruiksfuncties |
| Educat: Opleiding (4 klassen)| 1 : Praktische opleiding || 2 : Middelbare opleiding || 3 : Hoge opleiding || 4 : Universitair/wetenschappelijk |
| Finergy Subsegment: Finergy_TP| A01 : Welvarende Zakenlieden || A02 : Topsalaris Ontvangers || A03 : Milieubewuste Investeerders || B04 : Succesvolle Risiconemers || B05 : Comfortabele Verdieners || C06 : Pensioendromers || C07 : Geslaagde Gezinnen || C08 : Studiefinancierders || C09 : Dure Medioren || D10 : Hoge Hypothekers || D11 : Werkende Babyboomers || D12 : Kapitaalbouwers || D13 : Ervaren Spaarpotten || E14 : Rijke Ouderen || E15 : Welgestelde Gepensioneerden || F16 : Ondernemende Gezinnen || F17 : Modale Leaserijders || F18 : Hoopvolle Beleggers || F19 : Kleine Zelfstandigen || G20 : Consumptieve Starters || G21 : Weinig Koopkrachtigen || G22 : Werkstudenten || H23 : Internetleners || H24 : Schuldenmakers || I25 : Jonge Minderbedeelden || I26 : Dubbeltjesdraaiers || J27 : Onfortuinlijke Ouderen || J28 : Aow Genieters || J29 : Mobiele Bejaarden || J30 : Groenfonds Ouderen || Z99 : Non-residentiële adressen |
| HH_child: Aantal kinderen in huishouden| 1 : Eén kind || 2 : Twee kinderen || 3 : Drie of meer kinderen || 9 : Geen kinderen |
| HH_size: Huishoudgrootte| 1 : Eén persoon || 2 : Twee personen || 3 : Drie personen || 4 : Vier personen || 5 : Vijf of meer personen |
| Housetype: Woningtype| 1 : Vrijstaande woning || 2 : Twee-onder-één-kap woning || 3 : Hoekwoning || 4 : Tussenwoning || 5 : Appartement |
| Huidigewaarde_klasse: Huidige waarde in klassen| 1 : <= 100.000 || 10 : 750.000+ || 2 : 100.000 - 150.000 || 3 : 150.000 - 200.000 || 4 : 200.000 - 250.000 || 5 : 250.000 - 300.000 || 6 : 300.000 - 350.000 || 7 : 350.000 - 400.000 || 8 : 400.000 - 500.000 || 9 : 500.000 - 750.000 |
| Income: Bruto gezinsinkomen| 1 : Beneden modaal || 2 : (Bijna) modaal || 3 : Boven modaal || 4 : 2 keer modaal || 5 : Meer dan 2 keer modaal |
| Lfase: Levensfase| 1 : Alleenstaand of samenwonend zonder kinderen, < 35 jaar || 2 : Gezin met kinderen, oudste kind 0-5 jaar || 3 : Gezin met kinderen, oudste kind 6-11 jaar || 4 : Gezin met kinderen, oudste kind 12-17 jaar || 5 : Gezin met kinderen, oudste kind 18plus || 6 : Alleenstaand of samenwonend zonder kinderen, 35-49 jaar || 7 : Alleenstaand of samenwonend zonder kinderen, 50-64 jaar || 8 : Alleenstaand of samenwonend zonder kinderen, >= 65 jaar |

Lijkt er op dat er iets niet klopt bij HHsize. Vermoeden: 1 Persoon is opgesplitst in 2 types

In [33]:
nameList2 = ["853cbfe85f16624586a74e486062287de1d68121", "b3ce99eaa1dc9b9636beb43b0c4a2d03979b191c","161f7155535163033d3006fe1abf0aca4e157c46"]
experianData[experianData["personid"].isin(nameList2)]

       valid_from_dateeow valid_to_dateeow  ... business  huidigewaarde_klasse
50515          2017-04-02       2019-07-07  ...      2.0                   9.0
202860         2019-07-14       2020-06-21  ...      1.0                   3.0
238544         2016-05-22       2017-08-13  ...      1.0                   1.0
261167         2019-11-24              NaN  ...      2.0                   4.0
321196         2020-06-28              NaN  ...      1.0                   4.0
457595         2016-08-07       2017-03-26  ...      1.0                   3.0
528391         2017-08-20              NaN  ...      1.0                   6.0
605890         2016-03-27       2016-05-15  ...      NaN                   NaN
647039         2019-11-17       2019-11-17  ...      NaN                   NaN

[9 rows x 13 columns]

In [34]:
experianData.dtypes

valid_from_dateeow       object
valid_to_dateeow         object
personid                 object
age_hh                  float64
hh_child                float64
hh_size                 float64
income                  float64
educat4                 float64
housetype               float64
finergy_tp               object
lfase                   float64
business                float64
huidigewaarde_klasse    float64
dtype: object

Dit is niet een heel verrassend resultaat voor een datum, maar voor finergy en personId zou string mogelijk kunnen zijn

In [35]:
mostCommon(experianData, ["finergy_tp"],40)

 Frequency Table for ['finergy_tp']
            Frequency  Percentage
finergy_tp
B04           40781.0        0.07
F16           34787.0        0.06
F18           34419.0        0.06
I25           32601.0        0.06
A01           32508.0        0.06
G21           31678.0        0.05
C07           27841.0        0.05
G22           27092.0        0.05
H23           23802.0        0.04
C06           23335.0        0.04
I26           22604.0        0.04
C09           21991.0        0.04
G20           21959.0        0.04
F17           20497.0        0.04
C08           19091.0        0.03
H24           18755.0        0.03
Z99           18436.0        0.03
B05           16180.0        0.03
D13           11668.0        0.02
D11           11322.0        0.02
F19           10815.0        0.02
D12           10702.0        0.02
E15           10308.0        0.02
D10            9398.0        0.02
A03            8508.0        0.01
A02            8266.0        0.01
J30            7752.0        0.01
E14            7058.0        0.01
J27            6529.0        0.01
J28            6436.0        0.01
J29            5983.0        0.01
Total        583102.0        1.00

In [36]:
tempList = experian_codesData[experian_codesData["variabele"] == "Finergy_TP" ]["code"].unique()
tempList2 = experianData["finergy_tp"].unique().astype("U")
print(tempList)
print(np.isin(tempList2,tempList))
print(np.isin(tempList,tempList2))

['A01' 'A02' 'A03' 'B04' 'B05' 'C06' 'C07' 'C08' 'C09' 'D10' 'D11' 'D12'
 'D13' 'E14' 'E15' 'F16' 'F17' 'F18' 'F19' 'G20' 'G21' 'G22' 'H23' 'H24'
 'I25' 'I26' 'J27' 'J28' 'J29' 'J30' 'Z99']
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True]

In [37]:
for personid in experianData["personid"]:
  if len(personid) != 40:
    print(personid)

De labels van finergy lijken goed overeen te komen. elke idee heeft een lengte van 40 tekens. 

De volgende  stap is het opsplitsen van de data in een deel waar alleen business en finergy label is ingevuld en een ander deel met alle persoonlijke kenmerken.

In [38]:
experianDataEdited = experianData.dropna(subset = ["business"])

In [39]:
experianPersonData = experianDataEdited.dropna(subset = ["age_hh"]).copy()
experianBusinessData = experianDataEdited[experianDataEdited["age_hh"].isnull()].copy()

expColList = ["age_hh","hh_child","hh_size","income","educat4","housetype","lfase","business","finergy_tp","huidigewaarde_klasse"]
expColList2 = ["age_hh","hh_child","hh_size","income","educat4","housetype","lfase","huidigewaarde_klasse"]
experianBusinessData.drop(expColList2,axis = 1,inplace = True);

In [40]:
dataDimension(experianPersonData)
experianPersonData.sample(15)

This dataset has 564666 rows and 13 columns

       valid_from_dateeow valid_to_dateeow  ... business  huidigewaarde_klasse
283139         2015-09-20              NaN  ...      2.0                   4.0
262020         2020-03-08              NaN  ...      1.0                   7.0
63420          2016-02-14       2020-08-09  ...      2.0                   4.0
521304         2018-07-15              NaN  ...      2.0                   4.0
521317         2016-08-28              NaN  ...      2.0                   4.0
333297         2016-06-26              NaN  ...      2.0                   8.0
80794          2017-04-23              NaN  ...      1.0                   8.0
450855         2019-09-01              NaN  ...      1.0                   4.0
112541         2015-01-25              NaN  ...      2.0                  10.0
197175         2020-12-20              NaN  ...      1.0                   2.0
89974          2018-05-20       2019-11-03  ...      2.0                   5.0
64964          2019-09-08       2020-10-25  ...      2.0                   5.0
196046         2019-12-29              NaN  ...      2.0                   4.0
358789         2015-04-05              NaN  ...      2.0                   9.0
332411         2020-12-27              NaN  ...      2.0                   3.0

[15 rows x 13 columns]

In [41]:
mostCommonDict(experianPersonData, expColList, 35)

 Frequency Table for age_hh
       Frequency  Percentage
7.0      73391.0        0.13
6.0      71071.0        0.13
8.0      61696.0        0.11
3.0      57471.0        0.10
5.0      56838.0        0.10
4.0      56421.0        0.10
2.0      46543.0        0.08
9.0      44376.0        0.08
10.0     30518.0        0.05
1.0      27766.0        0.05
11.0     19158.0        0.03
13.0      9874.0        0.02
12.0      9543.0        0.02
Total   564666.0        1.00



 Frequency Table for hh_child
       Frequency  Percentage
9.0     295431.0        0.52
2.0     114359.0        0.20
1.0     108901.0        0.19
3.0      45975.0        0.08
Total   564666.0        1.00



 Frequency Table for hh_size
       Frequency  Percentage
10.0    156322.0        0.28
11.0    139109.0        0.25
4.0     105382.0        0.19
3.0      96668.0        0.17
5.0      37933.0        0.07
2.0      29252.0        0.05
Total   564666.0        1.00



 Frequency Table for income
       Frequency  Percentage
5.0     218744.0        0.39
3.0     123083.0        0.22
1.0      91804.0        0.16
2.0      80845.0        0.14
4.0      50190.0        0.09
Total   564666.0        1.00



 Frequency Table for educat4
       Frequency  Percentage
2.0     213252.0        0.38
3.0     160782.0        0.28
4.0     133296.0        0.24
1.0      57336.0        0.10
Total   564666.0        1.00



 Frequency Table for housetype
       Frequency  Percentage
5.0     175047.0        0.31
4.0     153908.0        0.27
1.0      91473.0        0.16
2.0      74528.0        0.13
3.0      69710.0        0.12
Total   564666.0        1.00



 Frequency Table for lfase
       Frequency  Percentage
5.0     102617.0        0.18
1.0      86519.0        0.15
7.0      74870.0        0.13
6.0      70714.0        0.13
8.0      63328.0        0.11
4.0      61822.0        0.11
3.0      52838.0        0.09
2.0      51958.0        0.09
Total   564666.0        1.00



 Frequency Table for business
       Frequency  Percentage
1.0     383657.0        0.68
2.0     181009.0        0.32
Total   564666.0        1.00



 Frequency Table for finergy_tp
       Frequency  Percentage
B04      40781.0        0.07
F16      34787.0        0.06
F18      34419.0        0.06
I25      32601.0        0.06
A01      32508.0        0.06
G21      31678.0        0.06
C07      27841.0        0.05
G22      27092.0        0.05
H23      23802.0        0.04
C06      23335.0        0.04
I26      22604.0        0.04
C09      21991.0        0.04
G20      21959.0        0.04
F17      20497.0        0.04
C08      19091.0        0.03
H24      18755.0        0.03
B05      16180.0        0.03
D13      11668.0        0.02
D11      11322.0        0.02
F19      10815.0        0.02
D12      10702.0        0.02
E15      10308.0        0.02
D10       9398.0        0.02
A03       8508.0        0.02
A02       8266.0        0.01
J30       7752.0        0.01
E14       7058.0        0.01
J27       6529.0        0.01
J28       6436.0        0.01
J29       5983.0        0.01
Total   564666.0        1.00



 Frequency Table for huidigewaarde_klasse
       Frequency  Percentage
4.0      96629.0        0.17
3.0      89898.0        0.16
5.0      84299.0        0.15
6.0      57166.0        0.10
2.0      54211.0        0.10
8.0      52477.0        0.09
9.0      49260.0        0.09
7.0      42453.0        0.08
1.0      19535.0        0.03
10.0     18738.0        0.03
Total   564666.0        1.00

In [42]:
experianPersonData["validFrom"] = pd.to_datetime(experianPersonData.loc[:,"valid_from_dateeow"])
experianPersonData["validTo"] = pd.to_datetime(experianPersonData.loc[:,"valid_to_dateeow"])
experianPersonData.loc[ experianPersonData["validTo"].isna(), "validTo"] =  datetime(2021,1,3)

In [43]:
experianPersonData.sample(5)

       valid_from_dateeow valid_to_dateeow  ...  validFrom    validTo
551184         2016-02-21              NaN  ... 2016-02-21 2021-01-03
490242         2018-09-16              NaN  ... 2018-09-16 2021-01-03
441974         2014-10-12              NaN  ... 2014-10-12 2021-01-03
564696         2020-06-14              NaN  ... 2020-06-14 2021-01-03
462426         2019-12-22       2020-11-15  ... 2019-12-22 2020-11-15

[5 rows x 15 columns]

## Business Experian

In [44]:
experianBusinessData.sample(5)

       valid_from_dateeow valid_to_dateeow  ... finergy_tp business
172397         2020-07-12              NaN  ...        Z99      6.0
204528         2019-08-11              NaN  ...        Z99      5.0
117287         2020-07-12              NaN  ...        Z99      4.0
65543          2020-10-04              NaN  ...        Z99      7.0
197306         2020-08-09       2020-10-18  ...        Z99      3.0

[5 rows x 5 columns]

In [45]:
mostCommon(experianBusinessData, ["personid"], 5)

 Frequency Table for ['personid']
                                          Frequency  Percentage
personid
37625d46b5fdeb9303e8415d1e66f30101f28661        4.0         0.0
396c8c16a949cbb618712a6628124ebe63d0cb17        4.0         0.0
f4674f19ae9f20be981757290eb703b830de06e7        3.0         0.0
d52ead4cb1d3843cf0342a168d9e5f7419739104        3.0         0.0
80a3b951ea65a968469e791c6186228d9701c148        3.0         0.0

In [46]:
temporary = experianBusinessData[experianBusinessData["valid_to_dateeow"].isna()]
mostCommon(temporary, ["personid"], 5)

 Frequency Table for ['personid']
                                          Frequency  Percentage
personid
0001c72c7b875be57d99d5524adbab00689031b5        1.0         0.0
00133af22ec98f3e08cb00c7590ef47bfc45fd54        1.0         0.0
001b3ce5e0ce6438b7597d2063889a13503921fd        1.0         0.0
00209a4459eda04696f0c442a95307524e44cd2c        1.0         0.0
0024d25841aef755783312b5bba21d485b8af317        1.0         0.0

Voor elke periode is personid identiek lijkt het op dit moment. Stappen voor een volgende aanpassing: Neem alle personen mee die klant zijn geweest. Pas aan.

In [47]:
currentTime = datetime(2021,1,1)
experianBusinessData.loc[experianBusinessData["valid_to_dateeow"].isna(), ("validTo")] = currentTime
experianBusinessData.loc[experianBusinessData["valid_to_dateeow"].notna(), ("validTo")] = pd.to_datetime(experianBusinessData["valid_to_dateeow"])
experianBusinessData["validFrom"] = pd.to_datetime(experianBusinessData["valid_from_dateeow"])
experianBusinessData["validLength"] = experianBusinessData["validTo"] - experianBusinessData["validFrom"]
experianBusinessData["validLength"] = experianBusinessData["validLength"].dt.days

In [48]:
experianBusinessData.drop(["valid_from_dateeow","valid_to_dateeow"], axis = 1, inplace= True)



De volgende stappen laten zien hoe de dataset van business er op het iende uit ziet voor ExperianData en laten een aantal statistieken zien.

In [49]:
experianBusinessData.sample(5)

                                        personid  ... validLength
219862  68f862dafbd88c3874567c64d2337c23744fdc49  ...        1629
293237  f32dde6e9b8bdcc80570428fb189b6705d6a2f92  ...         173
266888  d93089c66aa6dcc563d07acd97ec25e9e3f2a6af  ...        1734
93003   780ce86d7ebe2b6351cc088dbc0b7460be005dc4  ...        1384
152041  f2bd32e762a2b3e17bc652e2ef87268f4fb24b4b  ...         152

[5 rows x 6 columns]

In [50]:
dataDimension(experianBusinessData)
mostCommonDict(experianBusinessData,["finergy_tp","business"],30)
experianBusinessData.describe()

This dataset has 18436 rows and 6 columns

 Frequency Table for finergy_tp
       Frequency  Percentage
Z99      18436.0         1.0
Total    18436.0         1.0



 Frequency Table for business
       Frequency  Percentage
5.0       5017.0        0.27
7.0       4956.0        0.27
4.0       3410.0        0.18
6.0       2795.0        0.15
3.0       2258.0        0.12
Total    18436.0        1.00

          business   validLength
count  18436.00000  18436.000000
mean       5.25933    820.630994
std        1.35448    705.643645
min        3.00000      0.000000
25%        4.00000    229.000000
50%        5.00000    621.000000
75%        7.00000   1279.000000
max        7.00000   3162.000000

In [51]:
mostCommon(experianBusinessData,["personid"],450,descriptive = True)

 Frequency Table for ['personid']
                                          Frequency  Percentage
personid
37625d46b5fdeb9303e8415d1e66f30101f28661        4.0         0.0
396c8c16a949cbb618712a6628124ebe63d0cb17        4.0         0.0
f4674f19ae9f20be981757290eb703b830de06e7        3.0         0.0
d52ead4cb1d3843cf0342a168d9e5f7419739104        3.0         0.0
80a3b951ea65a968469e791c6186228d9701c148        3.0         0.0
...                                             ...         ...
0063c5a4c8588eb5a6fdc3e322abb43b4c104fe8        1.0         0.0
00209a4459eda04696f0c442a95307524e44cd2c        1.0         0.0
003a5a5a5720bc789368f005e69cc8cacf816a15        1.0         0.0
00300816335ff5a024feb44d32541a40f6292714        1.0         0.0
002903171d177d0bca1653bbb7d8aa96d9e63863        1.0         0.0

[450 rows x 2 columns]


          Frequency    Percentage
count  17950.000000  17950.000000
mean       2.054150      0.000056
std      137.597529      0.007464
min        1.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      0.000000
75%        1.000000      0.000000
max    18436.000000      1.000000

In [52]:
getDict = mostCommon(experianPersonData,["finergy_tp"],10,True,True)

df = getDict

 Frequency Table for ['finergy_tp']
            Frequency  Percentage
finergy_tp
B04           40781.0        0.07
F16           34787.0        0.06
F18           34419.0        0.06
I25           32601.0        0.06
A01           32508.0        0.06
G21           31678.0        0.06
C07           27841.0        0.05
G22           27092.0        0.05
H23           23802.0        0.04
C06           23335.0        0.04


           Frequency  Percentage
count      31.000000   31.000000
mean    36430.064516    0.064516
std     98563.506323    0.174601
min      5983.000000    0.010000
25%      9853.000000    0.020000
50%     19091.000000    0.030000
75%     27466.500000    0.050000
max    564666.000000    1.000000

# Link Person Portfolio

This table can be used to link the portfolios to customers and the other way around(1)

| Column name          | Description                                                                                                                                                                                           |
|----------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| validfromdate        | Date indicating from which date the record is valid.                                                                                                                                                  |
| validfromyearweek    | Year week combination indicating the week from which the record is valid.                                                                                                                             |
| validtodate          | Date indicating until which date the record is valid (note: if empty than still valid).                                                                                                               |
| personid             | Identifier for the client (Note: can refer to the natural person, but also to the company. Companies are separate entities from the natural person directors, and they also get a separate personid). |
| portfolioid          | Identifier for the portfolio2).                                                                                                                                                                       |
| iscorporatepersonyn  | Indicator variable that indicates whether the personid refers to a natural person or company                                                                                                          |

` 1) Note that one client can have multiple portfolios, but also that there can be multiple clients on one portfolio (e.g. C/J shared portfolio, or multiple directors on one business portfolio)`

` 2) The term portfolio is generally used for fee-based knab products. Note that under one portfolio there can be multiple bank accounts (i.e. for a retail checking + (multiple) savings
account(s), which are in one portfolio, only one fee is paid. On the other hand, a business portfolio and a private portfolio are two different products, hence a fee is paid for both of
them`

In [53]:
linkpersonportfolioData.sample(10)

        validfromdate  ...  iscorporatepersonyn
850840     2019-04-02  ...                    0
198622     2018-05-15  ...                    0
690108     2018-02-13  ...                    1
1052798    2020-10-28  ...                    0
228627     2018-08-20  ...                    0
551536     2015-03-25  ...                    0
189781     2018-05-21  ...                    0
27886      2014-07-11  ...                    0
580230     2016-07-12  ...                    0
22578      2014-11-06  ...                    0

[10 rows x 6 columns]

In [54]:
dataDimension(linkpersonportfolioData)
#check if number of validtodate matches total number
dataDimension(linkpersonportfolioData[linkpersonportfolioData["validtodate"].isna()])
#check if personid or portfolio has NaN
tempIndex = linkpersonportfolioData["personid"].isna()
tempIndex2 = linkpersonportfolioData["portfolioid"].isna()
dataDimension(linkpersonportfolioData[tempIndex|tempIndex2])

This dataset has 1105787 rows and 6 columns
This dataset has 1105787 rows and 6 columns
This dataset has 0 rows and 6 columns

In [55]:
printUnique(linkpersonportfolioData,["personid"])

Aantal unieke waarden in kolom personid : 732135

In [56]:
tempString = "personid"
mostCommon(linkpersonportfolioData, [tempString], 10, True)
tempData = linkpersonportfolioData[tempString].value_counts() 

#number of personId with more than two portfolio's
tempList = tempData[tempData > 1].index.tolist()
tempIndex = linkpersonportfolioData[tempString].isin(tempList)
tempData2 = linkpersonportfolioData[tempIndex]
mostCommon(tempData2,tempString,1, descriptive = True)

#check if a personid can be related to being a business and consumer
tempData3 = tempData2.groupby(tempString).mean()
dataDimension(tempData3)
tempData3.loc[(~tempData3["iscorporatepersonyn"].isin([0,1])),:]

 Frequency Table for ['personid']
                                          Frequency  Percentage
personid
878c641f899c26bd7d521b9d916af675dabb42bf       28.0         0.0
6008369d9fed14288487ae42b93d1d996ce6aa1f       17.0         0.0
d0b4a02dad65cdeed1e8c57ba85d518e95f5f17f       17.0         0.0
64adf5033087a8bcb49b1059bdf150fb8bf1d30e       16.0         0.0
ae20067ee4534fc9dd2cae04132436b866c81241       15.0         0.0
5ccd6a7cf15929a53ed5694b5df4ac70144b7a21       14.0         0.0
a9b819a11909d5a65670e0877bc450805741b3c1       13.0         0.0
57331d159508bda0c5a6d385a5c2b37dc3c7426c       13.0         0.0
ecfb2b4481dac8d932ef71f352b9feff56e7c77e       12.0         0.0
c8f22a663a2b98c2e9b66ca990bb7982c8e0f306       12.0         0.0


          Frequency     Percentage
count  7.321360e+05  732136.000000
mean   3.020715e+00       0.000001
std    1.292335e+03       0.001169
min    1.000000e+00       0.000000
25%    1.000000e+00       0.000000
50%    1.000000e+00       0.000000
75%    2.000000e+00       0.000000
max    1.105787e+06       1.000000



 Frequency Table for personid
                                          Frequency  Percentage
878c641f899c26bd7d521b9d916af675dabb42bf       28.0         0.0


           Frequency     Percentage
count  332776.000000  332776.000000
mean        4.245661       0.000003
std      1224.588051       0.001734
min         2.000000       0.000000
25%         2.000000       0.000000
50%         2.000000       0.000000
75%         2.000000       0.000000
max    706427.000000       1.000000


This dataset has 332775 rows and 3 columns

Empty DataFrame
Columns: [validfromyearweek, validtodate, iscorporatepersonyn]
Index: []

Conclusie: Dit zijn de gemiddelde waarden per uniek personid. De dataset waar de gemiddelde waarde niet 0 of 1 zijn, zijn personid's met business of retail er aan gekoppeld. Aangezien deze waarden 0 of 1 zijn, kan er worden geconcludeerd dat personid slechts een persoonlijk portfolio heeft of een bedrijfsportfolio.

Volgende stap is kijken of een portfolio aan meerdere personid's kan worden gekoppeld.

In [57]:
tempString = "portfolioid"
mostCommon(linkpersonportfolioData, [tempString], 10, True)
tempData = linkpersonportfolioData[tempString].value_counts() 

#number of personId with more than two portfolio's
tempList = tempData[tempData > 1].index.tolist()
tempIndex = linkpersonportfolioData[tempString].isin(tempList)
tempData2 = linkpersonportfolioData[tempIndex]
mostCommon(tempData2,tempString,1, descriptive = True)

#check if a personid can be related to being a business and consumer
tempData3 = tempData2.groupby(tempString).mean()
dataDimension(tempData3)
tempData4 = tempData3.loc[(~tempData3["iscorporatepersonyn"].isin([0,1])),:]
tempData4.sample(5)

 Frequency Table for ['portfolioid']
                                          Frequency  Percentage
portfolioid
5d96c8db6d6e6614478a6a855b88d4b8f96d2979       13.0         0.0
b2ea1e94282efc92131505f38a28a7b2c5f9d7eb       12.0         0.0
3097d78536f854694ebd12e234b7cffccb462b4a       10.0         0.0
af528f5114e955e7094370b9cfc9b54b1c6bea37       10.0         0.0
4da86d1e632d00c1fee4668a29324e69c6cb7ccc        9.0         0.0
36b9e40b32100aebb2e9abd148764b2cf2fbdc13        9.0         0.0
e1b211608e5413dea010d15972c6c60be8867022        9.0         0.0
98735180a954bc218ea1a58bb7a862e8f62367e7        8.0         0.0
10a304cf079a83e3a1e7a48b46edf33c1fd678d5        8.0         0.0
044fe2434aa496dd370ccb62ad2b2bf6b4f90533        8.0         0.0


          Frequency     Percentage
count  7.788140e+05  778814.000000
mean   2.839669e+00       0.000001
std    1.253009e+03       0.001133
min    1.000000e+00       0.000000
25%    1.000000e+00       0.000000
50%    1.000000e+00       0.000000
75%    2.000000e+00       0.000000
max    1.105787e+06       1.000000



 Frequency Table for portfolioid
                                          Frequency  Percentage
5d96c8db6d6e6614478a6a855b88d4b8f96d2979       13.0         0.0


           Frequency     Percentage
count  295359.000000  295359.000000
mean        4.214072       0.000003
std      1145.105712       0.001840
min         2.000000       0.000000
25%         2.000000       0.000000
50%         2.000000       0.000000
75%         2.000000       0.000000
max    622332.000000       1.000000


This dataset has 295358 rows and 3 columns

                                          validfromyearweek  ...  iscorporatepersonyn
portfolioid                                                  ...
3519c55e349756afe7cb8f26e315d1475d809a01           201841.0  ...                  0.5
739e2cf2d9c74f7bd58444cf4337b602ba25ca8c           201919.0  ...                  0.5
6740d939970808611c23db0e57bc7416b85d623d           201705.0  ...                  0.5
78b6bb4f02214e53298f44c5fb3755fc8fe5d82b           201941.0  ...                  0.5
19fda21794c98a1d961672f45cb77f017257b7a0           201518.0  ...                  0.5

[5 rows x 3 columns]

In [58]:
tempList2 = tempData4.index.tolist()
tempList3 = ["9c183e444e0951bb3cf3a7e8f68d7f98bc8f4a62","668035aa0f3561353c776260ef5685baa0eb97cb","668035aa0f3561353c776260ef5685baa0eb97cb"]
tempIndex2 = linkpersonportfolioData["portfolioid"].isin(tempList2)
tempIndex3 = linkpersonportfolioData["portfolioid"].isin(tempList3)
tempData5 = linkpersonportfolioData[tempIndex2]
linkpersonportfolioData[tempIndex3]

       validfromdate  ...  iscorporatepersonyn
451090    2019-01-02  ...                    1
471957    2017-12-09  ...                    0
479747    2017-12-09  ...                    1
531433    2019-01-02  ...                    0

[4 rows x 6 columns]

In [59]:
tempData5.sample(5)

        validfromdate  ...  iscorporatepersonyn
12490      2014-12-29  ...                    0
398162     2017-08-24  ...                    1
71440      2014-12-12  ...                    0
611846     2019-02-19  ...                    0
1012929    2019-01-26  ...                    1

[5 rows x 6 columns]

Ontdekt: personid is verbonden aan business of retail
portfolioid is niet verbonden aan business of retail en kan beide waarden hebben. Dus er is een link tussen retail en business gevonden.

In [60]:
#start with personid

Conclusies:
Portfolio kan gelinkt worden aan business en retail.  
Personid kan meerdere portfolio's hebben.
Portfolio kan tot meerder mensen toebehoren.

# portfolio_boekhoudkoppeling Data

This table contains information on account overlay packages

| Column name         | Description                                                                                                                                                                                           |
|---------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| personid            | Identifier for the client (Note: can refer to the natural person, but also to the company. Companies are separate entities from the natural person directors, and they also get a separate personid). |
| portfolioid         | Identifier for the portfolio.                                                                                                                                                                         |
| accountoverlayid    | Identifier for the account overlay package.                                                                                                                                                           |
| boekhoudkoppeling   | Provider of the account overlay package.                                                                                                                                                              |
| accountid           | Identifier for the account.                                                                                                                                                                           |
| valid_from_dateeow  | Date end of week (Sunday) of the first week from which the record is valid.                                                                                                                           |
| valid_to_dateeow    | Date end of week (Sunday) of the last week for which the record is valid (note: if empty, then still valid).                                                                                          |

In [61]:
portfolio_boekhoudkoppelingData.sample(10)

                                        personid  ... valid_to_dateeow
46133   fbb9af575ed141839cb369b838740d10b020e6af  ...       2018-01-14
95677   a935c17863b8ce84fde54bdd4eb0ebeefdd9ccde  ...              NaN
97142   281463cbf20d46a6a0db6044d2b09cfaad595be7  ...              NaN
107593  f77e8256f83420044bd5c26348d759379bbc8447  ...       2020-02-16
16582   f81c0281f95a334ae50227e58765b47bc374c9fd  ...              NaN
87674   08ebbeeeb4dc790e5dc9aef7f5a1683c394088b9  ...              NaN
75635   5892cdd807b92b4446f77f53e534f38586a005d4  ...              NaN
27259   f315ec21d0836edc692d1bd55151e0f81d688a97  ...       2020-01-12
59125   ed51cd005fbf9c7e3dfe1731211706ff3938242e  ...              NaN
37621   2da8f4c7045ec0646ae35a193e9cc775f1eedc5f  ...              NaN

[10 rows x 7 columns]

# Portfolio Activity

Table that monitors portfolio activity per week(1)


| Column name               | Description                                                                                    |
|---------------------------|------------------------------------------------------------------------------------------------|
| dateeow                   | Date and of the week (Sunday).                                                                 |
| yearweek                  | Integer indicating the year/week combination (e.g. 202052 is week 52 of the year 2020).        |
| portfolioid               | Identifier for the portfolio.                                                                  |
| pakketcategorie           | Categorical variable indicating the knab package category.                                     |
| overstapserviceyn         | Indicator variable for whether the transfer service (Dutch: overstapservice) is used.          |
| betaalalertsyn            | Indicator variable for whether payment alerts are set.                                         |
| aantalbetaalalertssubscr  | Number of payment alerts set for the portfolio.                                                |
| aantalbetaalalertsontv    | Number of received payment alerts (per week).                                                  |
| roodstandyn               | Indicator variable that indicates whether overdraw allowance is activated.                     |
| saldoregulatieyn          | Indicator[^1] variable that indicates whether automatic balance regulation features are activated. |
| appyn                     | Indicator variable that indicates whether the portfolio is app-registered.                     |
| aantalloginsapp           | Number of logins in the app (per week).                                                        |
| aantalloginsweb           | Number of website logins (per week).                                                           |
| activitystatus            | Categorical variable indicating how active the portfolio is2)                                  |

\`` 1) Data in this table is aggregated per week. The dateeow refers to the last day of the week (Sunday) over which the data is aggregated.`\`

\`` 2) This variable is determined as follows: base customers (customer for > 13 weeks) are primary when they have 
at least 20 (retail) or 7 (business) contra accounts in the last 3
months. Base customers are active when they have at least 3 contra accounts in the last 3 months and are not primary.
Saving only customers have a savings account with at least €100 and are not active or primary. Inactive customers are customers that are not primary, active or saving only`\`

Table with aggregated information on portfolio transactions and balances(1)

| Column name                    | Description                                                                                                                       |
|--------------------------------|-----------------------------------------------------------------------------------------------------------------------------------|
| dateeow                        | Date and of the week (Sunday)                                                                                                     |
| yearweek                       | Integer indicating the year/week combination (e.g. 202052 is week 52 of the year 2020).                                           |
| portfolioid                    | Identifier for the portfolio.                                                                                                     |
| pakketcategorie                | Categorical variable indicating the knab package category.                                                                        |
| betalenyn                      | Indicator variable that indicated whether payments are active for the portfolio (there is a payment account under the portfolio). |
| saldobetalen                   | Balance on payment account(s).                                                                                                    |
| aantalbetaaltransacties        | Number of payment transactions (to/from payment account(s) under the portfolio, excl. internal transaction within the portfolio). |
| aantalatmtransacties           | Number of ATM transactions (cashmachine withdrawals)2) per week.                                                                  |
| aantalpostransacties           | Number of Point-of-Sale (POS) transactions per week.                                                                              |
| aantalfueltransacties          | Numer of fuel station transactions per week.                                                                                      |
| depositoyn                     | Indicator variable for a term-deposit account under the portfolio.                                                                |
| saldodeposito                  | Total balance in term-deposit product(s).                                                                                         |
| flexibelsparenyn               | Indicator variable for ‘Flexibel Sparen’ savings account under the portfolio3).                                                   |
| saldoflexibelsparen            | Total balance on ‘Flexibel Sparen’ account(s)3).                                                                                  |
| kwartaalsparen                 | Indicator variable for ‘Kwartaal Sparen’ savings account under the portfolio3).                                                   |
| saldokwartaalsparen            | Total balance on ‘Kwartaal Sparen’ account(s)3).                                                                                  |
| gemaksbeleggen                 | Indicator variable for ‘Gemaksbeleggen’ (Easy investments) product in portfolio.                                                  |
| saldogemaksbeleggen            | Total balance on ‘Gemaksbeleggen’ (Easy investments) product(s) in portfolio.                                                     |
| participatieyn                 | Indicator variable for participations within the portfolio.                                                                       |
| saldoparticipatie              | Total balance in participations within the portfolio.                                                                             |
| vermogensbeheeryn              | Indicator variable for managed investments under the portfolio.                                                                   |
| saldovermogensbeheer           | Total balance in managed investments products in the portfolio.                                                                   |
| saldototaal                    | Total balance on the portfolio.                                                                                                   |
| saldolangetermijnsparen        | Total balance in long-term savings products.                                                                                      |
| aantaltegenrekeningenlaatsteq  | Number of transactional counterparty accounts in the last quarter.                                                                |

\`` 1) Data in this table is aggregated per week. The dateeow refers to the last day of the week (Sunday) over which the data is aggregated. `\`

\`` 2) Note that for knab customers it is not possible to deposit cash money via ATM machines. `\`

\`` 3) Customers get a loyalty interest rate when they have a ‘Kwartaal Sparen’ account and they do not withdraw money from that account in one quarter. Money on ‘Flexibel Sparen’ 
savings accounts is non-maturing and does not have a term, therefore it can be withdrawn at any given timepoint `\`

In [62]:
tempList = [portfolio_activity_business_2018Data,portfolio_activity_business_2019Data,portfolio_activity_business_2020Data]
tempData = pd.concat(tempList)
dataDimension(tempData)

tempList2 = [portfolio_activity_retail_2018Data, portfolio_activity_retail_2019Data,portfolio_activity_retail_2020Data]
tempData2 = pd.concat(tempList2)
dataDimension(tempData2)

portfolio_activity_total = pd.concat([tempData, tempData2])
dataDimension(portfolio_activity_total)
del tempList,tempData,tempList2,tempData2

This dataset has 4070331 rows and 14 columns
This dataset has 3034015 rows and 14 columns
This dataset has 7104346 rows and 14 columns

In [63]:
tempList = [portfolio_activity_transactions_business_2018Data, portfolio_activity_transactions_business_2019Data,portfolio_activity_transactions_business_2020Data]
tempData = pd.concat(tempList)
dataDimension(tempData)

tempList2 = [portfolio_activity_transactions_retail_2018Data, portfolio_activity_transactions_retail_2019Data, portfolio_activity_transactions_retail_2020Data]
tempData2 = pd.concat(tempList2)
dataDimension(tempData2)

portfolio_activity_transactions_total = pd.concat([tempData, tempData2])
dataDimension(portfolio_activity_transactions_total)
del tempList,tempData,tempList2,tempData2

This dataset has 4070331 rows and 25 columns
This dataset has 3034015 rows and 25 columns
This dataset has 7104346 rows and 25 columns

In [64]:
totalPortfolioActivity = pd.merge(portfolio_activity_total,portfolio_activity_transactions_total ,how ="inner",on = ["dateeow","yearweek","portfolioid","pakketcategorie"])
dataDimension(totalPortfolioActivity)

This dataset has 7104346 rows and 35 columns

In [65]:
pd.Series(totalPortfolioActivity["portfolioid"].unique())
# portfolioSample = seriesAbove.sample(frac = 0.1, random_state= 20210118)

0        47bda8225cbb30d2050ad1444bd29a31f64970a3
1        ebb6ea46c71057fb35fcba18febfc2cf91d39717
2        08ae503ca8bf6a536bf450815cf08da1bcb9a915
3        9aadc81c59b73dfdb3a132b679cacce4d80ffe8d
4        04afc8cb0133ddec0cd013e7c1bf76f0a6484a1c
                           ...
71174    4e94364555b2b1d295de147eff3ba828f0a1a9b0
71175    d8fc652b5e78b4111129e2adf835f09693dc35a1
71176    e6c8684eeda0d7eedb6fd534f801265bc77a8840
71177    85b0a68cdc598c301589b5d1f90e07c7d3254c46
71178    f9ac71359d0856a9b74077afa911eadce56c7d77
Length: 71179, dtype: object

In [66]:
#Too large to run complete visualization
totalPortfolioActivitySubset1 = totalPortfolioActivity.loc[:,:"pakketcategorie"]

In [67]:
tempString = "portfolioid"
tempString2 = "yearweek"
tempString3 = "pakketcategorie"
tempNum = 201901.0
tempNum2 = 202053.0

tempIndex = totalPortfolioActivitySubset1 ["yearweek"] == tempNum2
tempData = totalPortfolioActivitySubset1 [tempIndex]

tempList = tempData["portfolioid"].value_counts()
tempList2 = tempList.index.to_list()
tempIndex2 = totalPortfolioActivitySubset1 ["portfolioid"].isin(tempList2) 
tempData2 = totalPortfolioActivitySubset1 [tempIndex2]

tempIndex3 = tempData2["yearweek"] == tempNum
tempData3 = tempData2[tempIndex3]
tempList3 = tempData3["portfolioid"].value_counts().index.to_list()
tempNum3 = len(tempList3)

##tempList3 contains portfolioid's that are active in 2020 and 2019
tempIndex4 = (totalPortfolioActivitySubset1 ["yearweek"] == tempNum2) | (totalPortfolioActivitySubset1 ["yearweek"] == tempNum)
tempData4 = totalPortfolioActivitySubset1 [tempIndex4]
tempIndex5 = tempData4["portfolioid"].isin(tempList3)
tempData5 = tempData4[tempIndex5]

##TempData5 has all portfolios in 2020 and 2019
tempData5 = tempData5.sort_values([tempString,tempString2])
tempData6 = tempData5[tempData5[tempString2] == tempNum]
tempData7 = tempData5[tempData5[tempString2] == tempNum2]

tempData6.set_index(tempString, inplace= True)
tempData7.set_index(tempString, inplace= True)

tempIndex6 = (tempData6["pakketcategorie"] != tempData7["pakketcategorie"])

tempList4 = tempIndex6[tempIndex6].index.to_list()
tempNum4 = len(tempList4)
print("{} out of {} portfolio's have changed for portfolio's activie in {} and {}".format(tempNum4, tempNum3, tempNum, tempNum2))
tempData5[tempData5["portfolioid"].isin(tempList4)]

364 out of 32825 portfolio's have changed for portfolio's activie in 201901.0 and 202053.0

            dateeow  ...       pakketcategorie
4972367  2019-01-06  ...  Particulier Betalend
7104273  2021-01-03  ...            Knab Basis
4975088  2019-01-06  ...  Particulier Betalend
7094445  2021-01-03  ...            Knab Basis
4975417  2019-01-06  ...  Particulier Betalend
...             ...  ...                   ...
7097615  2021-01-03  ...            Knab Basis
4957787  2019-01-06  ...  Particulier Betalend
7064282  2021-01-03  ...            Knab Basis
4959272  2019-01-06  ...  Particulier Betalend
7069731  2021-01-03  ...            Knab Basis

[728 rows x 4 columns]

# Portfolio Info Data

Table with some static general information about the portfolio

| Column name        | Description                                                                                                |
|--------------------|------------------------------------------------------------------------------------------------------------|
| portfolioid        | Identifier for the portfolio.                                                                              |
| dateinstroomweek   | Date end of week of the inflow moment of the portfolio.                                                    |
| dateinstroommaand  | Date end of month of the inflow moment of the portfolio.                                                   |
| instroomjaarweek   | Year/week combination of the inflow moment of the portfolio.                                               |
| instroompakket     | Categorical variable for the type of knab package at the moment of inflow.                                 |
| birthyear          | Birthyear of the primary person on a portfolio.                                                            |
| geslacht           | Gender of the person(s) on the portfolio.                                                                  |
| type               | Categorical variable indicating whether the portfolio is a private (retail) or business portfolio product. |
| enofyn             | Indicator variable for Compte Joint (C/J) shared portfolios                                                |

Knab Basis: Gratis particuliere rekeneing
Knab Plus: Betaalde rekening

In [68]:
portfolio_infoDataEdited = portfolio_infoData.copy()
portfolio_infoData.sample(20)

                                     portfolioid  ... enofyn
270209  f12d8fc82c35ee2b75570f8c158ecc20e7fac795  ...      0
211580  b740211cb9694d55589d13ec7cfc9fa5d9c2604a  ...      1
243955  83de6226202734ea5c6d543bd9d8e8e28ecb1f32  ...      0
304079  4efb6f5aad311ea97a623e31b78c72ddefb1b769  ...      0
11086   78a2fac32615580fca0f139e2168e99203b6d916  ...      0
206329  8c8463e858f88c336aadd2ec2670f5a18f500278  ...      0
378263  8887e72e804e946229b6c2e02c60069e06ee0fef  ...      0
5510    08493a415cf0fc8430348156ca975a0bce5f3027  ...      0
377139  757ff7277434dfc368ddd45663e838e3436427d7  ...      0
154397  10f0b7afac38adc75c7397944a9517c34eeab829  ...      0
267931  d9ab19ea102d969236b840bdaafbabc0af9d2fd9  ...      0
102103  431bd3d5f880cceb3a243b121ef3a946a64f3bd7  ...      0
360457  21b8c693c7a5d3e52ffed5093e116ba8e506c812  ...      0
24417   34482422212ed80b034a1bc9bbd2bbc0c0bc219f  ...      1
171958  6060076d1760b9d5ad4e0346d606422097151ec8  ...      0
2140    b7b19bccf49c92f1dba12b2cf6f6d038423bc688  ...      0
133325  5f9f6ef7f601d2738061ec628c2318d114ea2423  ...      0
283240  5a2708f569ec55e45ae2c4f364631faba2e4d3ef  ...      0
295818  fed7c175c42e1c47fb4341c2430b27daff178006  ...      0
115153  fe672c3bab2a0f1e48623b73f2d8653a6b8e6b2e  ...      0

[20 rows x 9 columns]

In [69]:
portfolio_infoData["datetimeInstroomWeek"] =  pd.to_datetime(portfolio_infoData["dateinstroomweek"])
portfolio_infoData["instroomyear"] = portfolio_infoData["datetimeInstroomWeek"].dt.year

In [70]:
portfolio_infoData.sample(5)

                                     portfolioid  ... instroomyear
256966  f0aaec6d66470de63df56ddb7db29d14a6c6ba4a  ...         2018
89807   67bd3e1a85582071de6d3863c83287ef0c535b60  ...         2015
284377  089ae28dae7c6e5171d592bc9d6ce0811502e789  ...         2020
167525  5f089da97975270f96c1366666334c14967dc4a2  ...         2020
131301  7e2e3d6f70ca14733d006b62a175dd814839b193  ...         2016

[5 rows x 11 columns]

In [71]:
mostCommonDict(portfolio_infoData,["portfolioid","instroompakket","geslacht","type","enofyn","instroomyear"],30)

 Frequency Table for portfolioid
                                          Frequency  Percentage
010271655aa8e8f7da4e01db7f9fb190ef85de85        1.0         0.0
5ff4ced80a4fae6654ff7b423fd5ba48fa094023        1.0         0.0
0b7271902d812753733578710fb0462807adef59        1.0         0.0
03cfbf2ac1733da49d7985a080573125a397a29b        1.0         0.0
eee8ae4656310a03607b5c32f0624756dd555468        1.0         0.0
54695163a702b597f24edd5b8e1591b2ae37b2a3        1.0         0.0
945baebb9f6556703407fda6eebb8fc124481486        1.0         0.0
c89855e968019f46ded1c41d05c86b32e98b1617        1.0         0.0
bc2db101c440fb7f852ad158e41dfba972d9e376        1.0         0.0
d820a08205bd7a531e8056200ccf2c24306e36b1        1.0         0.0
77e4e87374fd8271f885845b55efe2d9fa03fab0        1.0         0.0
d2d063ea1090708b9fdfe1f7ca06cbc95a0f4811        1.0         0.0
be8336aaab793b86fd551c49223a42eb0950e90e        1.0         0.0
dfca5acf3dd3fa0678e9473d662a12d6d0fb1f55        1.0         0.0
19d3aa17f5c627062f94deb7f78dce914cc3afbf        1.0         0.0
d5143f53b4f3d082cf99f343f6134112ba086fca        1.0         0.0
92c0fe27632cfdeef117d8faf038a464ff43e350        1.0         0.0
ac1360d2b0ed621d87c86e769eb16e090c2e63a8        1.0         0.0
bb1c7bd36eefd8a6506d746bf9e32d9062a39cb7        1.0         0.0
5f3221f07de09ab5ab4175a14530d27614435216        1.0         0.0
9a59892741df8bb59d424759afdb6454e158c656        1.0         0.0
c281f0e88e3dbbce85c53deb6039f46440854287        1.0         0.0
57d42be4ed6086ea646c0cfa974af53d92f63d4a        1.0         0.0
9b01edea88ed7ae02e64f2528d9d1f60a8d0caa3        1.0         0.0
994c7c4522c3f84f855f825d036688c2523d9ea1        1.0         0.0
7369d56c74d70a42b9e645c548ff93c409f7efa4        1.0         0.0
e5ddadbdccb036c6aba2bb54ea4f965ed2b8443d        1.0         0.0
695e688a6671bdf41142247b8f7f5c8a5cdb6d9f        1.0         0.0
d3f890c0ecc56a477977553caef6cbddac13bd13        1.0         0.0
d7d63a8bd92e1d3f79f2d43fa2274af4cd0e5e66        1.0         0.0



 Frequency Table for instroompakket
          Frequency  Percentage
Zakelijk   222335.0        0.58
Plus       134040.0        0.35
Basis       21476.0        0.06
Premium      6164.0        0.02
Total      384015.0        1.00



 Frequency Table for geslacht
                       Frequency  Percentage
Man                     205181.0        0.53
Vrouw                   114898.0        0.30
Man(nen) en vrouw(en)    49192.0        0.13
Mannen                   11330.0        0.03
Vrouwen                   3411.0        0.01
Total                   384012.0        1.00



 Frequency Table for type
                     Frequency  Percentage
Corporate Portfolio   222338.0        0.58
Private Portfolio     161677.0        0.42
Total                 384015.0        1.00



 Frequency Table for enofyn
       Frequency  Percentage
0       342285.0        0.89
1        41730.0        0.11
Total   384015.0        1.00



 Frequency Table for instroomyear
       Frequency  Percentage
2019     68341.0        0.18
2020     68265.0        0.18
2018     64158.0        0.17
2017     50761.0        0.13
2016     45859.0        0.12
2015     43302.0        0.11
2014     39996.0        0.10
2013      3333.0        0.01
Total   384015.0        1.00

### Check if portfolios change from one of the 4 sorts to the other.

In [72]:
portfolio_infoDataEdited.sample(5)

                                     portfolioid  ... enofyn
76071   d5087c7715c8ee17db8f8eff88a6831f418e79c8  ...      0
34416   278525e7fd5ca340bd8ca49949b14ecb14c611c9  ...      1
168206  708891ef10813cfe5a58f4eb4ca53e8b7b5a30ec  ...      0
286023  0f9dbab21080b36df0726fcb4e18645bd56ca064  ...      0
10436   5587344897bf21aeafb80fe88bf7a0d4409c2ca9  ...      0

[5 rows x 9 columns]

In [73]:
# Filter out portfolioid which only occur once

tempString = "portfolioid"
tempList = portfolio_infoDataEdited[tempString].value_counts()
tempList[tempList > 1]

Series([], Name: portfolioid, dtype: int64)

returns empty list so conclusion: portfolioid only exists once

# Portfolio Status Data

Table with the inflow and outflow dates per portfolio

| Column name   | Description                                            |
|---------------|--------------------------------------------------------|
| portfolioid   | Identifier for the portfolio.                          |
| inflow_date   | Date indicating the moment of inflow of the portfolio. |
| outflow_date  | Date indicating the moment of outflow of the portfolio |

\`` Note: a portfolio might occur multiple times if it was opened-closed-opened-…
Hence the period between the inflow_date and outflow_date is the period the portfolio is/was active. `\`

# Linked Data

### Stappen bij Linked Data

* [ ] Link portfolio naar
* [ ] ...

# Output

## General formatting methods

In [74]:
def columnToPercent(data,columnName = "Percentage",alternativeColumnName = None):
  if type(alternativeColumnName) == None:
    newColumnName = columnName
  else: 
    assert type(alternativeColumnName) == (str or int),"Must give a string or integer as column name"
    newColumnName = alternativeColumnName
  data[newColumnName] = data.loc[:,columnName].apply(lambda x: "{value:.1%}".format(value = x))
  return data

def formatMostCommon(data, nameList, ):
  pass

## Graphs and other visuals

## Printing Latex tables

### Methods for latex printing

In [75]:
def latex1(data):
  string = data.to_latex(label = "data",caption = "data", column_format = "|l|c|c|")
  string = string.replace("toprule","hline")
  string = string.replace("midrule", "hline")
  string = string.replace("bottomrule", "hline")
  string = string.replace("begin{table}", "begin{table}[H]")
  string = string.replace("{} &", "Category &")
  return string

### Values for experian

In [76]:
experian_codesData

   veldnaam  ...                                       omschrijving
8    Age_HH  ...                                 Jonger dan 25 jaar
85   Age_HH  ...                                     65 tot 70 jaar
77   Age_HH  ...                                     70 tot 75 jaar
25   Age_HH  ...                                     75 tot 80 jaar
32   Age_HH  ...                                   80 jaar of ouder
..      ...  ...                                                ...
45    Lfase  ...         Gezin met kinderen, oudste kind 12-17 jaar
66    Lfase  ...             Gezin met kinderen, oudste kind 18plus
23    Lfase  ...  Alleenstaand of samenwonend zonder kinderen, 3...
67    Lfase  ...  Alleenstaand of samenwonend zonder kinderen, 5...
24    Lfase  ...  Alleenstaand of samenwonend zonder kinderen, >...

[92 rows x 4 columns]

In [77]:
tempData = experianPersonData.sample(10)
tempData2 = tempData[["age_hh","hh_size"]]
printAll(tempData2)
tempData3 = mostCommon(tempData2, "age_hh",30,False,True)
latex1(tempData3)

        age_hh  hh_size
253238     4.0      4.0
547202     7.0      3.0
142446    11.0     11.0
105771     8.0     10.0
283283     6.0     11.0
555512    10.0     11.0
136369     5.0     10.0
332994     9.0      3.0
312046     5.0      5.0
104092     3.0      4.0

 Frequency Table for age_hh
       Frequency  Percentage
5.0          2.0         0.2
4.0          1.0         0.1
7.0          1.0         0.1
11.0         1.0         0.1
8.0          1.0         0.1
6.0          1.0         0.1
10.0         1.0         0.1
9.0          1.0         0.1
3.0          1.0         0.1
Total       10.0         1.0

'\\begin{table}[H]\n\\centering\n\\caption{data}\n\\label{data}\n\\begin{tabular}{|l|c|c|}\n\\hline\nCategory &  Frequency &  Percentage \\\\\n\\hline\n5.0   &        2.0 &         0.2 \\\\\n4.0   &        1.0 &         0.1 \\\\\n7.0   &        1.0 &         0.1 \\\\\n11.0  &        1.0 &         0.1 \\\\\n8.0   &        1.0 &         0.1 \\\\\n6.0   &        1.0 &         0.1 \\\\\n10.0  &        1.0 &         0.1 \\\\\n9.0   &        1.0 &         0.1 \\\\\n3.0   &        1.0 &         0.1 \\\\\nTotal &       10.0 &         1.0 \\\\\n\\hline\n\\end{tabular}\n\\end{table}\n'

To do:
Zorg dat frequency table automatisch uitprint en dat frequency table geformatteerd wordt voor de gewilde variabele

## Exporting

### Variable: Export or not?

Set the variable to True or False

Create shortcut to the shared folder in your own drive before continuing online!

In [78]:
exportData = "False" #@param ["False", "True"] 
exec("exportData = {}".format(exportData))

#Variables to run correct cells
if exportData == True and useOffline == False:
  exportOnline = True
  exportOffline = False
  print("Online export activated")
elif exportData == True and useOffline == True:
  exportOnline = False
  exportOffline = True 
  print("Offline export activated")
else:
  exportOnline = False
  exportOffline = False

### Creating subfolders and mounting the online drive

In [79]:
if exportOnline == True:
  from google.colab import drive
  drive.mount("/content/drive")
  locationStrin =  "/content/drive/MyDrive/Master Seminar Case Studies Knab"
  os.chdir(locationString)

In [80]:
if exportData == True:
  now = datetime.now()
  nowString = now.strftime("M%mD%d_%H%M_")

  outputFolder = "dataExplorationOutput"
  try:
    os.mkdir(outputFolder)
  except:
    pass
  os.chdir(outputFolder)

  outputFolderDynamic = nowString + outputFolder
  try:
    os.mkdir(outputFolderDynamic)
  except:
    pass
  os.chdir(outputFolderDynamic)

### Files to export

### Return to original directory or unmount

In [81]:
if exportData == True:
  os.chdir("..")
  os.chdir("..")

In [82]:
if exportOnline == True:
  drive.flush_and_unmount()

# Vragen en Opmerkingen Data

## Algemeen

### Keuzes Data

* Dependent Variable

### Output eerste meeting Franses

1. Algemeen overzicht van de data: hoeveel mensen, hoeveel bedrijven, hoeveel portfolio's, hoeveel tijdperiodes, wat voor variabelen zijn er.
2. Beschrijvende statistieken van karakteristieken: wat voor bedrijven zijn er en wat voor personen zijn er?
3. Overzicht van de portfolio's: wat voor portfolios zijn er waar we in geïnteresseerd zijn, en hoe veel van elke soort zijn er in de dataset? Hoeveel mensen hebben meerdere portfolios?
4. Koppeling van mensen en portfolio's: hoeveel mensen hebben meer dan 1 portfolio (aan het einde van de tijdperiode??). Welke portfolios komen vaak samen voor (soort cross-frequencies tabel maken?)

### Verdere vragen:

Switchen klanten tussen verschillende portfolio's?

**Vragen Experian**

* Wat is categorie 10 en 11 voor hh_size?

Voor ons:


*   Welke periode nemen we?
*   Willen we een panel-data set maken waar elke variabele terugkomt in elke periode?
*    Wat doen we met personen die eerst geen klant zijn qua variabelen?
* Wat doe nwe met personen die op dit moment niet meer klant zijn.

### To Do

Switchen klanten tussen verschillende portfolio's?

* [x] Controleer in portfolio_info of er portfolios veranderen van portfolio type en in welke volgorde dit gebeurd.
  * Neem portfolioid en filter portfolio's er uit die maar een keer voorkomen
  * Creëer categorie die per portfolio kijkt wat de volgorde is van portfolio's
*  Controleer


# Code to remember


**Links**

* forms: https://colab.research.google.com/notebooks/forms.ipynb#scrollTo=3jKM6GfzlgpS

**Code**


```
#Assert
assert <condition>, <errormessage>

data['col'] = data['col'].str.replace('\D', str(0))

data["col"] = astype(int, copy = True or False, errors ={"raise", "ignore"} 
```